*.jpg
*.jpeg
*.png
*.gif
*.webp
*.bmp
*.tif
*.tiff
*.ico
*.svg
*.psd
*.avif
*.heic

*.sql
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz

/agcity-db.sql
/frontend/web/a.sql
/frontend/web/dump.sql
/frontend/web/googleshoping.xml

/backend/runtime/*
/console/runtime/*
/frontend/runtime/*
!/backend/runtime/.gitignore
!/console/runtime/.gitignore
!/frontend/runtime/.gitignore

/backend/web/assets/*
/frontend/web/assets/*
/frontend/web/upload/*
/frontend/web/files/*
/frontend/web/catalogpdf/*

/backend/runtime/
/console/runtime/
/console/runtime*
/frontend/runtime/
/backend/web/assets/
/frontend/web/assets/
/frontend/web/upload/
/frontend/web/files/
/frontend/web/catalogpdf/
/vendor/yiisoft/yii2/console/runtime/
/tools/image-optimizer-cpp/build/
